.slogan {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 2px 10px black;
  z-index: 2;
}

.vaca-container {
  position: relative;
  width: 300px;
  margin: 0 auto;
  top: -200px; /* subir la vaca */
  z-index: 1;
}

.vaca {
  width: 100%;
  transform: rotate(-10deg);
}

.astronauta {
  position: absolute;
  top: 200px;
  right: 100px;
  width: 150px;
  z-index: 3;
}
